<div class="imageBackground">
  <div id="prog-bar" class="progress">
    <div id="myBar" class="progress-bar">
      <div class="health">{{monster.health}}/{{maxHealth}}</div>
    </div>
  </div>
  <div class="feature_image">
    <img class="monster" *ngIf="monster?.name == 'SKELETON'" src="/assets/monsters/Skeleton.png">
    <img class="monster" *ngIf="monster?.name == 'SLIME'" src="/assets/monsters/Slime.png">
    <app-move-panel [maxHealth]="maxHealth" (getMonster)="getMonster()"></app-move-panel>
  </div>

</div>

