<div class="Background">
  <div class="center">
    <table>
      <table class="main-table">
        <tr>
          <td>Hero :</td>
          <td>{{ hero?.userName}}</td>
        </tr>
        <tr>
          <td>Level :</td>
          <td>{{hero?.level}}</td>
        </tr>
        <tr>
          <td>Exp :</td>
          <td>{{hero?.experience}}</td>
        </tr>
        <tr>
          <td>Health :</td>
          <td>{{hero?.hp}}</td>
        </tr>
        <tr>
          <td>Attack Power :</td>
          <td>{{hero?.attackPower}}</td>
        </tr>
        <tr>
          <td>Defence :</td>
          <td>{{hero?.defence}}</td>
        </tr>
      </table>
    </table>
  </div>
</div>
