.Background {
  height: 100vh;
  background-size: 100% 100%;
  object-fit: contain;
}
.center {
  color: white;
  padding-top: 80%;


}
table {
  width: 100%;
}
.main-table{
  border: 2px white solid;
  text-align: left;
  width: 100%;
}
th, td {
  font-size: xx-large;
  padding-bottom: 10%;
  padding-right: 10%;
  overflow: hidden;
  white-space: nowrap;

}
