<app-navbar></app-navbar>
<div class="imageBackground">
  <div class="center">
    <div class="loginBox">
      <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="account">
          <!--          <div *ngIf="loginFailed"-->
          <!--            class="alert alert-danger mt-1">-->
          <!--            Login Failed-->
          <!--          </div>-->
          <div class="input-group">
            <label class="label">Email</label>
            <input required="" class="input" type="email" formControlName="email">
          </div>
          <div class="input-group">
            <label class="label">Password</label>
            <input required="" class="input" type="text" formControlName="password">
          </div>
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
