.loginBox{
  border-radius: 50px;
  background: #4a3d30;
  box-shadow:  20px 20px 60px #5d4b36,
  -20px -20px 60px #342d28;
  padding: 5vh;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageBackground{
  height: 100vh;
  width: 100vw;
  background: url("/assets/background/SkeletonsParty.png");
  background-size: 100% 100%;
  object-fit: contain;
}
.input {
  margin-bottom: 1em;
  height: 2.7em;
  width: 20em;
  background-color: rgb(211, 198, 198, 0.7);
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #ffffff;
}

.input-group:hover , .input:focus {
  color: rgba(0, 0, 0, 0.76);
}
button {
  background-color: rgb(211, 198, 198, 0.7);
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 1em;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 0.5em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #000000;
  background-color: rgba(238, 231, 231, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
